@layer reset, base;
@import url('./reset.css') layer(reset);
@import url('./fonts.css') layer(fonts);
@import url('./base.css') layer(base);

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
  color: var(--color-paragraph-1);
  background: var(--color-background-1);
  transition:
    color 0.5s,
    background-color 0.5s;

  overflow-y: clip;

  > div {
    > :is(header, main) {
      display: grid;
      grid-template-columns: var(--grid-template-columns);

      > * {
        grid-column: content;
      }
    }

    > main > * {
      margin-block-end: 5rem;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
  font: var(--link);
}

button {
  cursor: pointer;
  font: var(--button);
}

h1 {
  font: var(--header1);
}

h2 {
  font: var(--header2);
}

h3 {
  font: var(--header3);
}

:is(p, span, li) {
  font: var(--paragraph3);
}
